In [9]:

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

In [10]:
df.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95

In [3]:
df.columns

Index(['code', 'state', 'category', 'total exports', 'beef', 'pork', 'poultry',
       'dairy', 'fruits fresh', 'fruits proc', 'total fruits', 'veggies fresh',
       'veggies proc', 'total veggies', 'corn', 'wheat', 'cotton'],
      dtype='object')

In [15]:
list_of_columns =['code', 'state', 'category', 'total exports', 'beef', 'pork', 'poultry',
       'dairy', 'fruits fresh', 'fruits proc', 'total fruits', 'veggies fresh',
       'veggies proc', 'total veggies', 'corn', 'wheat', 'cotton']

list_of_export_products = list_of_columns[4:] 

product = list_of_export_products[0]

In [16]:
print(list_of_export_products)

['beef', 'pork', 'poultry', 'dairy', 'fruits fresh', 'fruits proc', 'total fruits', 'veggies fresh', 'veggies proc', 'total veggies', 'corn', 'wheat', 'cotton']

In [17]:
print('beef' in list_of_export_products)

True

In [26]:
df_top = df[['state',product]].sort_values(product, ascending=False)

df_top

             state   beef
42           Texas  961.0
26        Nebraska  762.2
15          Kansas  659.3
35        Oklahoma  337.6
14            Iowa  289.8
5         Colorado  261.4
4       California  228.7
40    South Dakota  193.5
24        Missouri  137.2
11           Idaho  119.8
30      New Mexico  117.2
22       Minnesota  112.3
48       Wisconsin  107.3
25         Montana  105.0
33    North Dakota   78.5
49         Wyoming   75.1
2          Arizona   71.3
46      Washington   59.2
36          Oregon   58.8
16        Kentucky   54.8
12        Illinois   53.7
3         Arkansas   53.2
41       Tennessee   51.1
37    Pennsylvania   50.9
8          Florida   42.6
45        Virginia   39.5
21        Michigan   37.7
34            Ohio   36.2
0          Alabama   34.4
9          Georgia   31.0
43            Utah   27.9
32  North Carolina   24.8
31        New York   22.2
13         Indiana   21.9
27          Nevada   21.8
17       Louisiana   19.8
39  South Carolina   15.2
23     Mississippi   12.8
47   West Virginia   12.0
44         Vermont    6.2
19        Maryland    5.6
10          Hawaii    4.0
18           Maine    1.4
6      Connecticut    1.1
29      New Jersey    0.8
20   Massachusetts    0.6
28   New Hampshire    0.6
7         Delaware    0.4
1           Alaska    0.2
38    Rhode Island    0.1

In [6]:
product = 'dairy'

In [7]:
print(list_of_export_products.index(product))

3

In [13]:
chart_data = df[['code','state', 'category', product]]

In [14]:
chart_data

   code           state category   dairy
0    AL         Alabama    state    4.06
1    AK          Alaska    state    0.19
2    AZ         Arizona    state  105.48
3    AR        Arkansas    state    3.53
4    CA      California    state  929.95
5    CO        Colorado    state   71.94
6    CT     Connecticut    state    9.49
7    DE        Delaware    state    2.30
8    FL         Florida    state   66.31
9    GA         Georgia    state   38.38
10   HI          Hawaii    state    1.16
11   ID           Idaho    state  294.60
12   IL        Illinois    state   45.82
13   IN         Indiana    state   89.70
14   IA            Iowa    state  107.00
15   KS          Kansas    state   65.45
16   KY        Kentucky    state   28.27
17   LA       Louisiana    state    6.02
18   ME           Maine    state   16.18
19   MD        Maryland    state   24.81
20   MA   Massachusetts    state    5.81
21   MI        Michigan    state  214.82
22   MN       Minnesota    state  218.05
23   MS     Mississippi    state    5.45
24   MO        Missouri    state   34.26
25   MT         Montana    state    6.82
26   NE        Nebraska    state   30.07
27   NV          Nevada    state   16.57
28   NH   New Hampshire    state    7.46
29   NJ      New Jersey    state    3.37
30   NM      New Mexico    state  191.01
31   NY        New York    state  331.80
32   NC  North Carolina    state   24.90
33   ND    North Dakota    state    8.14
34   OH            Ohio    state  134.57
35   OK        Oklahoma    state   24.35
36   OR          Oregon    state   63.66
37   PA    Pennsylvania    state  280.87
38   RI    Rhode Island    state    0.52
39   SC  South Carolina    state    7.62
40   SD    South Dakota    state   46.77
41   TN       Tennessee    state   21.18
42   TX           Texas    state  240.55
43   UT            Utah    state   48.60
44   VT         Vermont    state   65.98
45   VA        Virginia    state   47.85
46   WA      Washington    state  154.18
47   WV   West Virginia    state    3.90
48   WI       Wisconsin    state  633.60
49   WY         Wyoming    state    2.89